<div class="app-customer-list">
    <md-card>
         <div class="breadcrumb flat"><a href="/customer/main">Customer Main</a><a href="/customer/list" class="active">Customer List</a></div>
    </md-card>
    <md-card>
      <h2 i18n="Title for the Customer List Page">Customer List</h2>
      <p i18n="Description of the Customer List Page">This is the Customer List Page. </p>
    </md-card>
    <md-card>
      <button md-raised-button color="primary" (click)="nav('customer/details/1')">CUSTOMER DETAILS (ID:1)</button>
    </md-card>
</div>